<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/footer.css}">
</head>

<body>
 <div id="foot">
                <div class="row pt-5">
                    <h1 class="num d-flex justify-content-center">30+</h1>
                    <p class="cont d-flex justify-content-center">COMPUTER COURSES</p>
                </div>
                <div class="row text-center m-auto">
                    <div class="col-md-6">
                        <h1 class="num">1000+</h1>
                        <p class="cont">STUDENTS ARE <br> TRAINED EVERY YEAR</p>       
                    </div>
                    <div class="col-md-6">
                        <h1 class="num ">95%</h1>
                        <p class="cont">STUDENTS ARE GETTING <br> PLACED EVERY YEAR</p>        
                    </div>
                </div>
                <div id="logocont" class="text-center mt-5 ms-5 me-5">
                    <img src="/scopehomeimg/scope-india-logo-home-page.png"   alt="snowpark-footer-logo" class="img-fluid">
                    <p>Center for Software, Networking, & Cloud Education <br> Kerala: Technopark TVM | Thampanoor TVM | Kaloor Kochi, Tamil Nadu: Distillery Road | Palace Road Nagercoil</p>
                    <img src="/scopehomeimg/isoimg.jpg" alt="iso_iaflogo" class="img-fluid iso-logo mt-4 mb-3">
                    <p>An ISO 9001:2015 Certified Company</p>
                    <p>All Rights Reserved <a href="#" class="footlink">Suffix E Solutions</a>  © 2007-2024</p>
                    <div class="row footlinkcont mt-4">
                        <a href="tel:+9745936073" class="footlink col-md-3">9745936073 (TPK)</a>
                        <a href="#" class="footlink col-md-2">9745936073 (TVM)</a>
                        <a href="#" class="footlink col-md-2">7592939481 (EKM)</a>
                        <a href="#" class="footlink col-md-2">8075536185 (NGL)</a>
                        <a href="mailto:info@scopeindia.org?bcc=blindcopy@scopeindia.org" 
                        class="footlink col-md-2">info@scopeindia.org</a>
                    </div>
                </div>
            </div>

</body>
</html>